<div style="text-align: center">
<img src="/assets/helpoutlogo.png" alt="HelpOut Logo" height="42" width="360">

<%= form_for(:sessions, url: "/auth/password/callback") do |f| %>
  <div class="field">
    <%= label_tag :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= label_tag :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="actions">
    <%= link_to "Sign up", new_user_path %>
    <%= submit_tag "Sign in" %>
    <a href="#fakelink" class="btn btn-block btn-lg btn-primary">Primary Button</a>
  </div>
<% end %>
<br />
--- OR ---<br />
<br />
<%= link_to "Connect With Facebook", "/auth/facebook" %>
</div>