<h1>Administrative Tasks</h1>
<p>Here are links to help get some stuff administered:</p>

<p><%= link_to "Assets", physical_assets_path %></p>

<p><%= link_to "Categories", categories_path %></p>

<p><%= link_to "Certifications", certifications_path %></p>

<p><%= link_to "Certification Approvals", certification_assertions_path %></p>

<p><%= link_to "Events", events_path %></p>

<p><%= link_to "Event Participation Verification", event_participations_path %></p>

<p><%= link_to "Paths", paths_path %></p>

<p><%= link_to "Skills", skills_path %></p>

<p><%= link_to "Users", users_path %></p>

