<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= image_tag(@user.image_url, class: "") %>
  </div>

  <h1>Welcome, <%= @user.first_name %>!</h1>
  <div>
    <%= label_tag :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= label_tag :phone %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= label_tag :zip_code %><br />
    <%= f.text_field :zip_code %>
  </div>
  <% if :new_view == locals[:operation] %>
    <div class="field">
      <%= label_tag :password %><br />
      <%= f.password_field :password %>
    </div>
    <div class="field">
      <%= label_tag :password_confirmation %><br />
      <%= f.password_field :password_confirmation %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Help Out!" %>
  </div>
<% end %>
