<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>

<h3>Skills</h3>
<div class="field">
  <fieldset class="choices">
    <ol class="choices-group">
<% skills_by_alphabetical_order.each do |skill| %>
<% selected = @user.skill_assertions.detect{|a|a.skill_id == skill.id} %>
      <li class="choice">
        <label for="user_skill_ids_<%= skill.id %>">
          <input id="user_skill_ids_<%= skill.id %>" name="user[skill_ids][]" type="checkbox" value="<%= skill.id %>" <%= 'checked="true"' if selected %>>
            <%= skill.name %>
        </label>
      </li>
    <% end %>
  </fieldset>
</div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
