<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div style="width: 100%">
    <div style="margin-left: auto; margin-right: auto; width: 180px; height: 180px;">
      <%= image_tag(@user.image_url, class: "img-circle") %>
    </div>
  </div>
<br />
<div style="text-align: center;">
  <h2>Welcome, <%= @user.first_name %>!</h2>
  <div style="display: none;">
    <%= label_tag :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <!--<%= label_tag :phone %><br />-->
    <%= f.text_field :phone, :placeholder => "Phone Number (5125551234)", :required => true, :pattern => "[0-9]{10}" %>
  </div>
  <div class="field">
    <!--<%= label_tag :zip_code %><br />-->
    <%= f.text_field :zip_code, :placeholder => "Zipcode", :required => true, :pattern => "[0-9]{5}" %>
  </div>
  <% if :new_view == locals[:operation] %>
    <div class="field">
      <%= label_tag :password %><br />
      <%= f.password_field :password %>
    </div>
    <div class="field">
      <%= label_tag :password_confirmation %><br />
      <%= f.password_field :password_confirmation %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Next", class: "btn btn-large btn-success", style: "width: 240px; bottom: 10px;" %>
  </div>
</div>
<% end %>
