<% provide(:title, 'Certifications') %>
<div class="accordion" id="accordion2">
</div>
<script>
var uri = "";
function scheduleTraining (id) {
  $.ajax({
      type: "POST",
      url: uri,
      data: { user: { cert_id: id } },
      success: function (data, textStatus) {
        console.log(data, textStatus);
      }
  });
  //console.log(id);
}
//{user: { cert_id : 1}}
  $(document).ready(function() {
    $.ajax({
      url: '/my_certifications.json',
      data: {},
      success: function (data, textStatus, jqXHR) {
        uri = data.post_uri;
        data = data.certs;
        certArray = [];
        var length = data.length;
        for (var i = 0; i < length; i++) {
          if (data[i].prerequisite_id != null) {
            if($("#accordion-content-id" + data[i].prerequisite_id).length == 0) {
              var add = "<div class=\"accordion-group\"><div class=\"accordion-heading\"><span><a class=\"accordion-toggle\" data-toggle=\"collapse\" data-parent=\"#accordion2\" href=\"#collapse"+data[i].id+"\">"+data[i].name+"";
              if (data[i].belongs_to_user) {
                add += "<i class=\"pull-right icon-ok-sign\"></i>";
              }
              add += "</a></span></div><div id=\"collapse"+data[i].id+"\" class=\"accordion-body collapse\"><div class=\"accordion-inner\">"+data[i].description;
              if (!data[i].belongs_to_user) {
                add += "<br /><br /><div style=\"text-align:center;\"><a class=\"btn btn-success\">Schedule Training</a></div><br />"
              }
              add += "</div></div></div>";
              $("#accordion2").append(add);
            } else {
              var add = "<div class=\"accordion-group\"><div class=\"accordion-heading\"><span><a class=\"accordion-toggle\" data-toggle=\"collapse\" data-parent=\"#accordion-content-id" + data[i].id + "\" href=\"#collapse"+data[i].id+"\">"+data[i].name+"";
              if (data[i].belongs_to_user) {
                add += "<i class=\"pull-right icon-ok-sign\"></i>";
              }
              add += "</a></span></div><div id=\"collapse"+data[i].id+"\" class=\"accordion-body collapse\"><div class=\"accordion-inner\" id=\"accordion-content-id"+data[i].id+"\">"+data[i].description;
              if (!data[i].belongs_to_user) {
                add += "<br /><br /><div style=\"text-align:center;\"><a class=\"btn btn-success\">Schedule Training</a></div><br />"
              }
              add += "</div></div></div>";
              $("#accordion-content-id" + data[i].prerequisite_id).append(add);
            }
          } else {
              var add = "<div class=\"accordion-group\"><div class=\"accordion-heading\"><span><a class=\"accordion-toggle\" data-toggle=\"collapse\" data-parent=\"#accordion2\" href=\"#collapse"+data[i].id+"\">"+data[i].name+"";
              if (data[i].belongs_to_user) {
                add += "<i class=\"pull-right icon-ok-sign\"></i>";
              }
              add += "</a></span></div><div id=\"collapse"+data[i].id+"\" class=\"accordion-body collapse\"><div class=\"accordion-inner\" id=\"accordion-content-id"+data[i].id+"\">"+data[i].description;
              if (!data[i].belongs_to_user) {
                add += "<br /><br /><div style=\"text-align:center;\"><a class=\"btn btn-success\" onclick=\"scheduleTraining("+data[i].id+");\">Schedule Training</a></div><br />"
              }
              add += "</div></div></div>";
              $("#accordion2").append(add);
          }
        }
      },
      dataType: 'json'
    });
  });
</script>
<div style="display: none;">
<%= form_for(@user) do |f| %>
<%= f.hidden_field :finish_setup, :value => true %>
<h2>
  <%= @user.full_name %>
</h2>
<h3>
  <%= @user.email %>
</h3>
<h3>Certifications</h3>
<div class="field">
<% paths_by_alpha.each do |path| %>
  <fieldset class="choices">
    <legend class="label">
      <label><%=path.name%></label>
    </legend>
<ul>
<% Certification.find_all_by_path_id(path.id).each do |certification| %>
<% selected = @user.certification_assertions.detect{|a|a.certification_id == certification.id} %>
      <li class="choice">
        <label for="user_certification_ids_<%= certification.id %>">
          <input id="user_certification_ids_<%= certification.id %>" name="user[certification_ids][]" type="checkbox" value="<%= certification.id %>" <%= 'checked="true"' if selected %>>
            <%= certification.name %> <%= "<strong>[VERIFIED]</strong>".html_safe if (selected && selected.is_verified?) %>
        </label>
      </li>
    <% end %>
</ul>
  </fieldset>
<% end %>
</div>

<div class="actions">
  <%= f.submit %>
</div>
</div>
<% end %>
