

<div class="row pagination-centered" style="width: 100%">
  <%= image_tag(@user.image_url, class: "img-circle") %>
</div>
<div class="row text-center">
  <h2><%= @user.full_name %></h2>
  <div class="grey-font">
    <p><%= @user.email %></p>
    <p><a href="#" class="grey-font">16 Badges</a></p>
    <p><a href="#" class="grey-font">2000+ Service Hours</a></p>
  </div>

</div>
<!-- 
<p>
  <b>Skills:</b>
  <%= @user.skills.map(&:name).join(", ") %>
</p>

<p>
  <b>Assets:</b>
  <%= @user.owned_assets.map(&:display_label).join(", ") %>
</p>

<p>
  <b>Certifications:</b>
  <%= @user.certification_assertions.map(&:display_label).join(", ").html_safe %>
</p> -->

