<% provide(:title, @event.name) %>
<p id="notice"><%= notice %></p>

<div class="row" style="height: 180px; background-image:url('<%= @event.image_url %>'); background-position:center; background-repeat:no-repeat;">
            &nbsp;
        </div>
        <br />
<p>
  <b>Name:</b>
  <%= @event.name %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>

<div style="display:none;"><p>
  <b>Start time:</b>
  <%= @event.start_time %>
</p>

<p>
  <b>End time:</b>
  <%= @event.end_time %>
</p>

<p>
  <b>City:</b>
  <%= @event.city %>
</p>

<p>
  <b>State:</b>
  <%= @event.state %>
</p></div>

<p>
  <b>Zip:</b>
  <%= @event.zip %>
</p>

<!--<%= link_to 'Edit', edit_event_path(@event) %> |-->
<div style="text-align: center;">
<a href="" class="btn btn-medium btn-success" style="width: 110px;">Accept</a>
<br /><br />
<%= link_to 'Back', events_path, class: "btn", style: "width: 110px;" %></div><br /><br />
